<launch>
   <arg name="gui" default="False" />
   <arg name="rviz" default="True" />
   
   <rosparam command="load" file="$(find diff_drive)/config/ddrive.yaml" />
   <param name="robot_description" command="$(find diff_drive)/urdf/ddrive.urdf.xacro" />

   <!-- <node name="arm_traj" pkg="homework2" type="arm_traj" /> -->

   <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_drive)/config/ddrive.rviz" />
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
   </group>
   <group if="$(arg gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
   </group>
</launch>